pokedex {
  display: grid;
  grid-gap: calc(var(--baseline) * 6);
}

pokedex > .pokemons {
  display: grid;
  grid-gap: calc(var(--baseline) * 5);
}

pokedex > .controls {
  max-width: 100%;
  overflow: hidden;
}

pokedex > .controls > .previousbtn {
  margin-right: calc(var(--baseline) * 5);
}

pokedex > .controls > .nextbtn {
  margin-left: calc(var(--baseline) * 5);
}

@media screen and (min-width: 768px) {
  pokedex > .pokemons {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  pokedex > .pokemons {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  pokedex > .pokemons {
    grid-template-columns: repeat(4, 1fr);
  }
}
