pagination {
  display: flex;
  flex-wrap: wrap;
}

pagination > .page {
  background: inherit;
  border: 2px solid transparent;
}

pagination > .page + .page {
  margin-left: calc(var(--baseline) * 4);
}

pagination > .page:hover,
pagination > .page.-selected {
  border-bottom-color: var(--accent-color);
}
