pagination {
  max-width: 100%;
  display: flex;
  overflow: auto;
}

pagination > .page {
  background: inherit;
  border: 2px solid transparent;
  padding: calc(var(--baseline) * 2) calc(var(--baseline) * 3);
}

pagination > .page:hover,
pagination > .page.-selected {
  border-bottom-color: var(--accent-color);
}

pagination > .page:focus {
  border-color: var(--dark-accent-color);
}
