pokemon-card {
  position: relative;
  background: var(--base);
  color: var(--base-900);
  text-transform: capitalize;
  padding: calc(var(--baseline) * 4) calc(var(--baseline) * 8);
  border-radius: calc(var(--baseline) * 2);
}

pokemon-card:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

pokemon-card > .cardheader,
pokemon-card > .cardbody {
  padding: calc(var(--baseline) * 4) 0;
}

pokemon-card > .cardheader {
  display: grid;
  grid-gap: calc(var(--baseline) * 5);
  background: inherit;
  border-bottom: 1px solid var(--background);
}

pokemon-card > .cardheader > .title {
  font-weight: 900;
}

pokemon-card > .cardheader > .types > .badge {
  min-width: 150px;
  padding: calc(var(--baseline) * 2);
  border-radius: var(--baseline);
  color: var(--base);
  text-shadow: 0 1px 0 black, 0 0 1px rgba(0, 0, 0, 0.6), 0 0 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.8), 0 0 4px rgba(0, 0, 0, 0.9);
}

pokemon-card > .cardheader > .types > .badge + .badge {
  margin-left: calc(var(--baseline) * 2);
}

pokemon-card > .cardheader > .sprite {
  height: 80px;
  width: 80px;
  position: absolute;
  top: calc(var(--baseline) * -5);
  right: calc(var(--baseline) * 8);
  background-size: contain;
  background-position: center;
  background-color: var(--base);
  border-radius: calc(var(--baseline) * 2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

pokemon-card > .cardbody {
  display: flex;
}

pokemon-card > .cardbody > .info {
  display: grid;
  grid-gap: calc(var(--baseline) * 2);
}

pokemon-card > .cardbody > .info + .info {
  margin-left: calc(var(--baseline) * 14);
}

pokemon-card > .cardbody > .info > .title {
  text-transform: uppercase;
  color: var(--base-400);
}
