pokemon-card {
  position: relative;
  background: var(--base);
  color: var(--base-900);
  text-transform: capitalize;
  padding: calc(var(--baseline) * 4) calc(var(--baseline) * 8);
  border-radius: calc(var(--baseline) * 2);
  margin-top: calc(var(--baseline) * 4);
}

pokemon-card:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

pokemon-card > .cardheader,
pokemon-card > .cardbody {
  padding: calc(var(--baseline) * 5) 0;
}

pokemon-card > .cardheader {
  display: grid;
  grid-gap: calc(var(--baseline) * 5);
  background: inherit;
  border-bottom: 1px solid var(--background);
}

pokemon-card > .cardheader > .info {
  color: var(--base-400);
}

pokemon-card > .cardheader > .title {
  font-weight: 900;
}

pokemon-card > .cardheader > .sprite {
  height: 56px;
  width: 56px;
  position: absolute;
  top: calc(var(--baseline) * -4);
  right: calc(var(--baseline) * 2);
  background-size: contain;
  background-position: center;
  background-color: var(--base);
  border-radius: calc(var(--baseline) * 2);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

pokemon-card > .cardbody {
  display: flex;
}

pokemon-card > .cardbody > .info {
  display: grid;
  grid-gap: calc(var(--baseline) * 2);
}

pokemon-card > .cardbody > .info + .info {
  margin-left: calc(var(--baseline) * 14);
}

pokemon-card > .cardbody > .info > .title {
  text-transform: uppercase;
  color: var(--base-400);
}

@media screen and (min-width: 768px) {
  pokemon-card {
    margin-top: calc(var(--baseline) * 5);
  }

  pokemon-card > .cardheader > .sprite {
    height: 80px;
    width: 80px;
    top: calc(var(--baseline) * -5);
    right: calc(var(--baseline) * 5);
  }
}

@media screen and (min-width: 1024px) {
  pokemon-card {
    margin-top: calc(var(--baseline) * 4);
  }

  pokemon-card > .cardheader > .sprite {
    height: 56px;
    width: 56px;
    top: calc(var(--baseline) * -4);
    right: calc(var(--baseline) * 2);
  }
}

@media screen and (min-width: 1440px) {
  pokemon-card {
    margin-top: calc(var(--baseline) * 4);
  }

  pokemon-card > .cardheader > .sprite {
    height: 64px;
    width: 64px;
    top: calc(var(--baseline) * -4);
    right: calc(var(--baseline) * 4);
  }
}

@media screen and (min-width: 1920px) {
  pokemon-card {
    margin-top: calc(var(--baseline) * 4);
  }

  pokemon-card > .cardheader > .sprite {
    height: 80px;
    width: 80px;
    top: calc(var(--baseline) * -5);
    right: calc(var(--baseline) * 5);
  }
}
