.header {
  display: flex;
  align-items: center;
  background: var(--dark-primary-color);
  color: var(--text-primary-color);
  padding: var(--baseline) calc(var(--baseline) * 15);
  margin-bottom: calc(var(--baseline) * 5);
}

.header > navbar {
  margin-left: auto;
}
