.header {
  display: flex;
  align-items: center;
  background: var(--default-primary-color);
  color: var(--text-primary-color);
  padding: 0 calc(var(--baseline) * 15);
  margin-bottom: calc(var(--baseline) * 5);
}

.header > .brand {
  font-size: var(--h4);
}

.header > navbar {
  margin-left: auto;
}
