:root {
  --dark-primary-color: #84081d;
  --text-primary-color: #ffffff;
  --default-primary-color: #dc0a2d;
  --primary-text-color: #000;
  --light-primary-color: #de7b8b;

  --dark-accent-color: #33693f;
  --accent-color: #52ae5f;
  --divider-color: #bdbdbd;
  --background: #ececec;
  --base: #fff;
  --base-100: #dadada;
  --base-300: #ccc;
  --base-400: #bbb;
  --base-900: #000;
}
