:root {
  --accent-color: #009688;
  --dark-primary-color: #303f9f;
  --default-primary-color: #3f51b5;
  --divider-color: #bdbdbd;
  --light-primary-color: #c5cae9;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --text-primary-color: #ffffff;

  --background: #ececec;

  --base: #fff;
  --base-100: #dadada;
  --base-300: #ccc;
  --base-400: #bbb;
  --base-900: #000;
}
