navbar {
  display: flex;
}

navbar > .item:hover {
  background: var(--light-primary-color);
  color: var(--primary-text-color);
}

navbar > .item > .link {
  display: block;
  padding: calc(var(--baseline) * 5);
  text-transform: capitalize;
}

navbar > .item:not(:hover) > .link.-active {
  text-decoration: underline;
}
